# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
bin/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache/
.pytest_cache/
htmlcov/
dist/
build/
*.egg-info/
.mypy_cache/
.ruff_cache/
.dccache/ # Snyk cache